body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input, select, button {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}

#listaJogos {
    margin-top: 20px;
}

.jogo {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jogo img {
    width: 100px;
    height: 100px;
}